@font-face {
  font-family: 'IBM Plex Mono Bold';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Bold-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Bold Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-BoldItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Extra Light';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-ExtraLight-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Extra Light Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-ExtraLightItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Italic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Light';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Light-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Light Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-LightItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Medium';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Medium-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Medium Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-MediumItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Regular';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Regular-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Semi Bold';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-SemiBold-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Semi Bold Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-SemiBoldItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Text';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Text-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Text Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-TextItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Thin';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-Thin-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono Thin Italic';
  src: url('~@/assets/fonts/IBM Plex Mono V01/IBMPlexMono-ThinItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Bold';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Bold-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Bold Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-BoldItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Extra Light';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-ExtraLight-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Extra Light Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-ExtraLightItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Italic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Light';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Light-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Light Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-LightItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Medium';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Medium-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Medium Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-MediumItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Regular';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Regular-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Semi Bold';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-SemiBold-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Semi Bold Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-SemiBoldItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Text';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Text-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Text Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-TextItalic-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Thin';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-Thin-V01.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans Thin Italic';
  src: url('~@/assets/fonts/IBM Plex Sans V01/IBMPlexSans-ThinItalic-V01.ttf') format('truetype');
}